# Ignorar caches e compilados do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambientes virtuais
venv/
env/
.venv/

# Arquivos de configuração sensíveis
*.env
.env.*

# VSCode
.vscode/

# Arquivos de sistema
.DS_Store
Thumbs.db
